/* styles.css */

body {
    text-align: center;
}

h1 {
    margin-top: 20px;
}

.centered-form {
    position: relative;
    width: 50%; /* Ширина формы по вашему усмотрению */
    margin: 0 auto; /* Горизонтальное центрирование */
    margin-top: 20px; /* Отступ сверху для каждой формы */
}

#form1 {
    /* Отступ сверху для первой формы */
}

#form2 {
    /* Отступ сверху для второй формы */
}

#form3 {
    /* Отступ сверху для третьей формы */
}

#form4 {
    /* Отступ сверху для четвертой формы */
}

#form5 {
    /* Отступ сверху для пятой формы */
}

#form6 {
    /* Отступ сверху для шестой формы */
}

button.centered-form {
    display: block;
    margin: 0 auto;
    margin-top: 20px; /* Отступ сверху для кнопки */
}
